body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  overflow-x: hidden;
  background-color: rgb(254, 255, 235);
  margin: 0;
}

.road-container {
border-top: solid 10px rgb(41, 209, 41);
border-bottom: solid 10px rgb(41, 209, 41);
background-color: #212121;
}


.lane {
  height: 150px;
  background-color: #212121;
  position: relative;
}

.road-separation {
  border-top: solid 5px white;
  border-style: dashed;
}

.stop-line-lane-1 {
  background-color: white;
  position: absolute;
  left: 800px;
  top: 0;
  width: 5px;
  height: 80%;
}

.stop-line-lane-2 {
  background-color: white;
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 5px;
  height: 80%;
}

/* CSS POUR LA VOITURE */
.lane-1 .vehicle {
  position: absolute;
  transform: rotate(180deg);
  width: 150px;
  height: 100px;
  background-size: 150px 100px;
  left: 0px;
  top: 20px;
  background-image: url("./images/honda_car.png");
}


/* CSS POUR LES BOUTONS */
.action-buttons {
  margin-top: 10px;
  margin-left: 10px;
}

button {
  margin-right: 5px;
  padding: 5px;
}

/* CSS DU FEU DE CIRCULATION */

#redfire {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

#orangefire {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}


#greenfire {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

#redfire[state="active"] {
  background-color: red;
}

#redfire[state="inactive"] {
  background-color: rgb(31, 0, 0);
}


#greenfire[state="active"] {
  background-color: rgb(0, 215, 0);
}

#greenfire[state="inactive"] {
  background-color: rgb(0, 33, 0);
}

#orangefire[state="active"] {
  background-color: orange;
}

#orangefire[state="inactive"] {
  background-color: rgb(36, 24, 0);
}

#stoplight-top {
  border-radius: 10px;
  background-color: lightgray;
  padding: 10px;
}

.fire {
  margin: 5px 0;
}

#stoplight-bottom {
  display: inline-block;
  width: 9px;
  height: 40px;
  background-color: lightgrey;
}

#stoplight {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 780px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}